<div class="contenedor">
  <div class="tabla">
    <table class="tftable">
      <tr class="cabeza-tabla">
        <th></th>
        <th class="referencia">PRODUCTO</th>
        <th></th>
        <th>Q.</th>
        <th>ESTADO</th>
        <th>FECHA</th>
        <th></th>
        <th></th>
        <th class="alias">CLIENTE</th>
      </tr>
      <tr
        *ngFor="
          let item of datos_clientes_tabla
            | paginate: { itemsPerPage: 28, currentPage: page }
        "
      >
        <td class="imagen"><img src="{{ item.logo }}" class="img-logo" /></td>
        <td class="referencia">{{ item.referencia }}</td>
        <td class="info">
          <img src="../../assets/informacion.png" class="info" (click)="observaciones(item)"/>
        </td>
        <td class="cantidad">x{{ item.cantidad }}</td>
        <td>
          <label class="estado">{{ item.estado }}</label>
        </td>
        <td class="fecha"><strong>{{extraerhora(item.fecha)}}</strong> {{extraerfecha(item.fecha)}}</td>
        <td class="tipo" *ngIf="item.tipo === 'Mesa'; else ruta">
          <label for="" class="mesa">M</label>
        </td>
        <ng-template #ruta><label class="ruta">R</label></ng-template>
        <td class="cod_cliente">{{ item.codigo_cliente }}</td>
        <td class="alias">{{ item.alias_cliente }}</td>
      </tr>
    </table>
  </div>
  <div class="abajo">
    <p>Lineas: {{ datos_clientes_tabla.length }}</p>
    <div class="paginacion">
      <pagination [boundaryLinks]="true" [totalItems]="100"></pagination>
    </div>
  </div>
</div>
