.contenedor{
    background-color: red;
    display: grid;
    overflow-y: hidden;
    grid-template-rows: 25px 1fr;
    height: 100vh;
}
.tabla{
    overflow-y: hidden;
    height: 100%;
}
.contenedor-cabecera{
    background-color: white;
    text-align: center;
    width: 100%;
    height: 25px;
}
.contenedor-para-flex{
    background-image:url(../assets/montaña_fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    display: grid;
    grid-template-columns:300px 1fr ;
}
.contenedor-filtros{
    background-color: rgba(255, 255, 255, 0.8);
    height:100%;
    overflow-y: hidden;
    border-radius: 10px;
    width: 300px;
}
.contenedor-tabla{
    height:100%;
    width: 100%;
    overflow-y: hidden;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
