.contenedor-inputs {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
.label {
  width: 100%;
}

.estados {
  width: 100%;
  margin: 0;
  padding: 0;
}
.estados-checks {
  background-color: white;
  border-radius: 8px;
  height: 100%;
  .contenedor-checks {
    display: flex;
    flex-direction: row;
    .contenedor-para-grid-de-checks {
      width: 50%;
      padding: 0.3rem;
    }
    .contenedor-para-grid-boton {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
.contenedor-boton {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .btn-buscar {
    width: 100%;
  }
}
