<div class="contenedor_supremo">
<div class="contenedor-inputs">
  <div class="input-group filtro">
    <label class="label">Cliente</label
    ><input
      [(ngModel)]="filtro.cliente"
      type="text"
      placeholder="Cliente"
      class="form-control"
      #name
    />
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="name.value = ''"
      >
        🗑
      </button>
    </div>
  </div>
  <div class="input-group input">
    <label class="label">Usuario</label
    ><input
      [(ngModel)]="filtro.usuario"
      type="text"
      placeholder="usuario"
      class="form-control"
      #usu
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="usu.value=''" >🗑</button>
    </div>
  </div>
  <div class="input-group input">
    <label class="label">Referencia</label
    ><input
      [(ngModel)]="filtro.referencia"
      type="text"
      placeholder="referencia"
      class="form-control"
      #refe
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="refe.value=''">🗑</button>
    </div>
  </div>
  <div class="input-group input">
    <label class="label">Fecha</label
    ><input
    [(ngModel)]="filtro.fecha"
      type="text"
      placeholder="Daterangepicker"
      class="form-control"
      bsDaterangepicker
      [bsConfig]="{ isAnimated: true }"
      placement="right"
      #fecha
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="fecha.value=''">🗑</button>
    </div>
  </div>
  <div class="input-group input">
    <label class="label">Tipos</label
    ><input
      [(ngModel)]="filtro.tipos"
      type="text"
      placeholder="tipos..."
      class="form-control"
      #tipos
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="tipos.value=''">🗑</button>
    </div>
  </div>
  <div>
  <label class="label">Estados</label>
  <div class="estados-checks form-check">
    <div class="contenedor-checks">
      <div class="contenedor-para-grid-de-checks">
        <div>
          <input
          [(ngModel)]="filtro.estado.pendiente"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Pendiente</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.recogiendo"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Recogiendo</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.recogida"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Recogida</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.desconsolidando"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Desconsolidando</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.desconsolidada"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Desconsolidada</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.entregada"
            class="form-check-input "
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Entregada</label>
        </div>
        <div>
          <input
          [(ngModel)]="filtro.estado.incidencia"
            class="form-check-input"
            type="checkbox"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            #estado
          />
          <label for="">Incidencia</label>
        </div>
      </div>
      <div class="contenedor-para-grid-boton">
        <button type="button" class="btn btn-outline-danger boton-checks">
          🗑
        </button>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="contenedor-boton">
    <button class="btn-buscar btn btn-primary" (click)="buscar()">🔍Buscar</button>
  </div>

</div>

